{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listings in category {{ category }}</h2>
{% for item in category_list %}
    {% if not item.closed %}
    <div class="container-fluid listing">
        <div class="row">
            <div class="col-md-auto">
                <img src="{{item.image}}" style="width: 100px;"><br>
            </div>
            <div class="col">
                Title: <a href="{% url 'listed' item.id %}">{{item.title}}</a><br>
                Sold by: {{item.seller}}<br>
                Started on: {{item.created}}<br>
                Category: {{item.category}}<br>
                {% if item.current_bid == 0 %}
                Current price: {{item.price}}<br>
                {% else %}
                Current bid: {{item.current_bid}}<br>
                <hr>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% empty %}
<h3>No items in this category!</h3>
{% endfor %}
{% endblock %}